Client1/Client/Service References/ServiceRef/Service54.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52032/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService.App_Code" />
  <xs:import schemaLocation="http://localhost:52032/Service.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="UpdateGameStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameID" type="xs:int" />
        <xs:element minOccurs="0" name="status" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestoredGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRestoredGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="GetRestoredGameResult" nillable="true" type="q1:DTO_RESTORED_GAME" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServerWithCheckerMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameID" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="Player" nillable="true" type="q2:DTO_Player" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="obj" nillable="true" type="q3:DTO_Checker" />
        <xs:element minOccurs="0" name="eatenCheckerID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameID" type="xs:int" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="player" nillable="true" type="q4:DTO_Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindGameAndReturnPlayerInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameID" type="xs:int" />
        <xs:element minOccurs="0" name="accountEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindGameAndReturnPlayerInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="FindGameAndReturnPlayerInfoResult" nillable="true" type="q5:DTO_Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnregisterClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameID" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="player" nillable="true" type="q6:DTO_Player" />
        <xs:element minOccurs="0" name="isGameOver" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyReadyToPlay">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameID" type="xs:int" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="player" nillable="true" type="q7:DTO_Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServerPlayerWon">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameID" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="wonPlayer" nillable="true" type="q8:DTO_Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="ClientLoginResult" nillable="true" type="q9:DTO_ACCOUNT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientGetPlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientGetPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="ClientGetPlayersResult" nillable="true" type="q10:ArrayOfDTO_Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientAddGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="game" nillable="true" type="q11:DTO_GamePlay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClientAddGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientAddGameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientWithGameWinner">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="wonPlayer" nillable="true" type="q12:DTO_Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientWithCheckerMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="checker" nillable="true" type="q13:DTO_Checker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientRemoveEatenChecker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eatenCheckerID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientGameStartOk">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="whiteCheckersPlayer" nillable="true" type="q14:DTO_Player" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="blackCheckersPlayer" nillable="true" type="q15:DTO_Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckClientReady">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyClientOpponentDisconnected">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="isConnected">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="NotifyRegistarClientStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="isRegisterSucceed" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEmailExist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsEmailExistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsEmailExistResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="account" nillable="true" type="q16:DTO_ACCOUNT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterAccountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="account" nillable="true" type="q17:DTO_ACCOUNT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAccountResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="WebLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="WebLoginResult" nillable="true" type="q18:DTO_ACCOUNT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebGetPlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebGetPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="WebGetPlayersResult" nillable="true" type="q19:ArrayOfDTO_Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAddGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="game" nillable="true" type="q20:DTO_GamePlay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="WebAddGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="WebAddGameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExistGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWatingGames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWatingGamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="GetWatingGamesResult" nillable="true" type="q21:ArrayOfDTO_GamePlay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hostPlayerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="joiningPlayerID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="JoinGameResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlayers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPlayersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="GetAllPlayersResult" nillable="true" type="q22:ArrayOfDTO_Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="GetAllGamesResult" nillable="true" type="q23:ArrayOfDTO_GamePlay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGamesByPlayerID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="playerID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGamesByPlayerIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="GetGamesByPlayerIDResult" nillable="true" type="q24:ArrayOfDTO_GamePlay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayersByGameID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gmID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPlayersByGameIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="GetPlayersByGameIDResult" nillable="true" type="q25:ArrayOfDTO_Player" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForEachPlayerNGames">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetForEachPlayerNGamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="GetForEachPlayerNGamesResult" nillable="true" type="q26:ArrayOfDTO_PLAYER_GAMES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGamesByAccountEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllGamesByAccountEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="GetAllGamesByAccountEmailResult" nillable="true" type="q27:ArrayOfDTO_GamePlay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePlayers">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="playersID" nillable="true" type="q28:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemovePlayersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveGames">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="gamesID" nillable="true" type="q29:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveGamesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGameMovement">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameID" type="xs:int" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="movement" nillable="true" type="q30:DTO_MOVEMENT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddGameMovementResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreviewsGamesForRestore">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="accountEmail" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPreviewsGamesForRestoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WcfService.App_Code" minOccurs="0" name="GetPreviewsGamesForRestoreResult" nillable="true" type="q31:ArrayOfDTO_GamePlay" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>